.Account {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: calc(100% - 68px);
}

.Account button {
  border-radius: 4px;
  border: 1px solid #333333;
  width: 50px;
}

.Account table {
  top: 20px;
  position: absolute;
}

.Account th {
  text-align: left;
}

.Account img {
  width: 16px;
  height: 16px;
}

/* If zoom 300%-ish */
@media screen and (max-width: 400px) {
  .Account {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: inherit;
  }
  .Account th {
    text-align: left;
    font-size: 9px;

  }
  .Account button {
    height: 10px;
    font-size: 4px;
    text-align: center;
  }
}