.BottomPage {
    position: relative;
    display:flex;
    flex-direction:row;
    height: auto;
    width: 100%;
    overflow: auto;
    border-top: dashed;
    border-width: thin;
}

.News {
    width: 47%;
    height: auto;
    padding-right: 2.5%;
    position: relative;
}
.BottomPage .DisplayBox {
    height: auto;
    width: 98%;
    left: 1%;
    position: relative;
    padding-top: 2.5%;
}

.News .DisplayBox .NewsBox {
    height: auto;
    padding-bottom: 5%;
    position: relative;
    display: flex;
    flex-direction: column;
}

.ComingSoon {
    width: 50%;
    top: 0%;
    height: auto;
    left: 0%;
    position: relative;
}

.ComingSoon .DisplayBox .ComingSoonBox {
    height: auto;
    padding-bottom: 1%;
    position: relative;
    display: flex;
    flex-direction: column;
}

.ComingSoon .DisplayBox .ComingSoonBox .ComingSoonPictureText {
    float: left;
    position: relative;
    display: flex;
    flex-direction: row;
}

.ComingSoon .DisplayBox .ComingSoonBox img {
    height: 90px;
    width: 90px;
    left: 0;
    padding-right: 1%;
    position: relative;

}

.LatestTrailers {
    width: 99%;
    height: auto;
    top: 0;
    left: 0.5%;
    position: relative;
}

.DateText {
    font-size: 9px;
    float: left;
    font-weight: lighter;
    position:relative;
    top:0;

}
.ResumeText {
    font-size: 9.5px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    float: left;
}

.ReadMore {
    color: #d41a26;
    font-size: 8.5px;
    float: left;
}
.BottomNewsTitle{
    font-weight: bold;
    font-size: 11px;
    color: #d41a26;
    float: left;
}
.BlackTitleText {
    font-weight: bold;
    font-size: 13px;
    color: black;
    left: 0.5%;
    top: 3%;
    position: relative;
}

/* Screen is 900px or less wide */
@media only screen and (max-width: 900px) {
}