.ChangeAccount {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: calc(100% - 68px);
}

.ChangeAccount table {
  top:20px;
  position: absolute;
}

.ChangeAccount th {
  text-align: left;
}

.ChangeAccount .ErrorResult {
  width: 20px;
}

.ChangeAccount a {
  font-size: 15px;
  margin-right:auto;
  padding: 1px;
}

.ChangeAccount .ButtonPassword {
  top: 103px;
  position: absolute;
  border-radius: 4px;
  border: 1px solid #333333;
}

.ChangeAccount .ButtonEmail {
  top: 83px;
  position: absolute;
  border-radius: 4px;
  border: 1px solid #333333;
}

.ChangeAccount .LoginResult {
  width: 20px;
}

.ChangeAccount input[type=password], input[type=email] {
  border-radius: 4px;
  border: 1px solid #333333;
}
