﻿.RedTitleText {
    font-weight: bold;
    font-size: 11px;
    color: #d41a26;
    left: 0.5%;
    position: relative;
}

.RedText {
    font-weight: bold;
    font-size: 9px;
    color: #d41a26;
    float: left;
}


.ShowAllText {
    font-weight: bold;
    font-size: 11px;
    color: #d41a26;
    float: right;
    padding-top: 1.5vh;
    padding-right: 1.5vh;
    position: relative;
}

.TextBubble {
    background-image: url("../FlickClickImages/TextBubble.png");
    background-repeat: no-repeat;
    background-size: contain;
    height: 21px;
    width: 21px;
    left: calc(1.5% + 120px);
    top: 2%;
    position: relative;
    display: flex;
    justify-content: center;
}

.TextBubble .TextBubbleText {
    color: white;
    font-size: 100%;
}

.MovieDisplay {
    height: 178px;
    width: 140px;
    position: relative;
    padding-right: 1.326651126%;
}

.MoviePoster {
    width: 100%;
    height: 170px;
    left: 2.5%;
    top:0%;
    position:relative;
}

/* TODO: Make HomeContent Global to all content (As to not break DRY) */
.HomeContent {
    position: absolute;
    height: calc(100% - calc(14.5% + 5px) - calc(7.5% + 5px));
    width: 50%;
    left: 25%;
    top: calc(14.5% + 5px);
    background-color: #f9f9f9;
    overflow: auto;
}

.HomeContent .DisplayMovieRow {
    height: auto;
    width: 98%;
    left: 1%;
    top: 5%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding-top: 1%;
    padding-bottom: 3%;
}

.HomeContent .DisplayBox {
    height: auto;
    width: 98%;
    left: 1%;
    position: relative;
    padding-top: 2.5%;
}

.HomeContent .LatestTrailers {
    width: 99%;
    height: auto;
    top: 1%;
    left: 0.5%;
    position: relative;
}

.HomeContent .MostCommented {
    width: 99%;
    height: auto;
    top: 0%;
    left: 0.5%;
    position: relative;
}



/* Screen is 900px or less wide */
@media only screen and (max-width: 900px) {
}