﻿html {
    width: 100%;
    height: 100%;
    margin: 0%;
    padding: 0%;
    overflow-x: hidden;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

header {
    width: 100%;
    height: calc(14.5% + 5px);
    margin: 0%;
    padding: 0%;
    overflow-x: hidden;
    position: absolute;
    top:0%;
}

.Text {
    color: white;
    font-size: calc(1px + 1.5vh);
    text-decoration: none;
    white-space: nowrap;
    padding-left: 0.5vw;
    padding-right: 0.5vw;
}

.SignIn {
    color: white;
    width: 1vh;
    background: #333333;
    box-shadow: 0px 0px 0px transparent;
    border: 0px solid transparent;
    text-shadow: 0px 0px 0px transparent;
}

.SignIn:hover {
    color: white;
    background: #333333;
    box-shadow: 0px 0px 0px transparent;
    border: 0px solid transparent;
    text-shadow: 0px 0px 0px transparent;
}

.SignIn:active {
  animation:none;
  bottom:0;
  transition:0s 0s;
}

.TextCenterVerticalMiddle {
    top: 50%;
    text-align: center;
    position: relative;
}

.CenterVerticalRight {
    top: 50%;
    transform: translateY(-50%);
    position: relative;
    float: right;
}

.CenterVerticalLeft {
    top: 50%;
    transform: translateY(-50%);
    position: relative;
    float: left;
}

.FloatRight {
    position: relative;
    float: right;
}

.FloatLeft {
    position: relative;
    float: left;
}

.NavBar {
    background-color: #333333;
    height: 100%;
    width: 100%;
}

.NavBar input {
    width: calc(50px + 25vh);
    height: calc(4px + 1vh);
    font-size: 10px;
}

.BotBar {
    background-color: #333333;
    width: 100%;
    height: calc(7.5% + 5px);
    bottom: 0%;
    position: absolute;
    overflow-x: hidden;
}

.BotBar .BotBarText {
    color: #909090;
    font-size: 10px;
}

.BotBar .Pages{
    height: 30%;
    top: 1.5%;
    position: absolute;
    width: 100%;
}

.BotBar .SocialMedias {
    height: 30%;
    top: 34.5%;
    position: absolute;
    width: 100%;
}

.BotBar .TimeStamp {
    height: 30%;
    top: 66%;
    position: absolute;
    width: 100%;
}

.MovieBar {
    height: 25%;
    width: 99%;
    left: 0.5%;
    border-top: dashed;
    border-top-color: gray;
    border-bottom: dashed;
    border-bottom-color: gray;
    border-width: thin;
    top: 50%;
    position:absolute;
}

.MemberBar {
    height: 25%;
    width: 99%;
    right: 0.5%;
    top: 75%;
    position: absolute;
}

.PageBar {
    width: 100%;
    height: 50%;
}

.PageBar .FlickClickLogo {
    height: 40%;
    top: 7.5%;
    left: 0.5%;
    position: absolute;
}

.PageBar .Pages {
    top: 35%;
    transform: translateY(-50%);
    position: relative;
    float: right;
    padding: 1vw;
}

/* Screen is 900px or less wide */
@media only screen and (max-width: 900px) {
}