﻿.NewsContent {
    position: absolute;
    height: calc(100% - calc(14.5% + 5px) - calc(7.5% + 5px));
    width: 50%;
    left: 25%;
    top: calc(14.5% + 5px);
    background-color: #f9f9f9;
    overflow: auto;
}

.NewsTitle{
    font-weight: bold;
    font-size: 17px;
    color: black;
    left: 0.5%;
    position: relative;
}

.NewsContent .DisplayBox {
    height: auto;
    width: 99%;
    position: relative;
    top: 3%;
    padding-bottom: 1%;
}

.NewsContent .DisplayBox .NewsBox {
    height: 18%;
    padding-left: 0.5%;
    position: relative;
    display: flex;
    flex-direction: column;
}

.NewsContent .DisplayBox .NewsBox .DateText {
    font-size: 9px;
    float: left;
    font-weight: lighter;
    position:relative;
    top:0%;

}
.NewsContent .DisplayBox .NewsBox .NewsText {
    font-size: 9.5px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    float: left;
}

.NewsContent .DisplayBox .NewsBox .ReadMore {
    color: #d41a26;
    font-size: 8.5px;
    float: left;
}
.NewsContent .DisplayBox .NewsBox .NewsHeadline {
    font-weight: bold;
    font-size: 13px;
    color: black;
    position: relative;
    padding-bottom: 1%;
    float: left;
}

.NewsContent .DisplayBox .NewsBox .NewsDate {
    font-size: 10px;
    float: left;
    color: red;
    font-weight: lighter;
    position:relative;
    padding-bottom: 1%;
}
@media only screen and (max-width: 900px) {
}