﻿.SignUpContent {
    position: absolute;
    height: calc(100% - 240px);
    width: 50%;
    left: 25%;
    top: 160px;
    background-color: #f9f9f9;
}

.SignUpContent table {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -100%);
}

.SignUpContent th {
    width: 200px;
    text-align: left;
}

.SignUpContent th b {
    font-weight: bold;
    color: #c91d26;
}

.SignUpContent th button {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.SignUpContent th input {

}
